<c-card>
  <c-card-header>
    <h5 cCardTitle>Crear Tareas</h5>
  </c-card-header>
  <c-card-body>
    <form [formGroup]="tareaForm" (ngSubmit)="guardarTarea()">
      <div class="mb-2">
        <label class="me-2" for="nombre">Nombre de la Tarea</label>
        <input id="nombre" formControlName="nombre" />
        <div *ngIf="isValidField('nombre')" class="text-danger" style="font-size: 13px;">
          {{getFieldError('nombre')}}</div>
      </div>

      <div class="mb-2">
        <label class="me-2" for="fechaLimite">Fecha Límite</label>
        <input type="date" id="fechaLimite" formControlName="fechaLimite" [min]="minDate" />
        <div class="text-danger" *ngIf="tareaForm.get('fechaLimite')?.hasError('fechaInvalida')">
          La fecha límite no puede ser anterior a hoy.
        </div>

      </div>

      <div formArrayName="personas">
        <div *ngFor="let persona of personas.controls; let i = index" [formGroupName]="i">
          <h3>Persona Asignadas</h3>
          <div class="mb-2">
            <label class="me-2">Nombre Completo</label>
            <input formControlName="nombre" />
            <div *ngIf="isValidField('personas.' + i + '.nombre')" class="text-danger" style="font-size: 13px;">
              {{ getFieldError('personas.' + i + '.nombre') }}</div>
            <div class="text-danger"
              *ngIf="personas.errors && personas.errors['duplicateNames'] && personas.errors['duplicates'].includes(persona.get('nombre')?.value)">
              La persona ya está asiganada a la tarea
            </div>
          </div>
          <div class="mb-2">
            <label class="me-2">Edad</label>
            <input type="number" formControlName="edad" />
            <div *ngIf="isValidField('personas.' + i + '.edad')" class="text-danger" style="font-size: 13px;">
              {{ getFieldError('personas.' + i + '.edad') }}</div>
          </div>

          <div formArrayName="habilidades">
            <div class="mb-2" *ngFor="let habilidad of persona.get('habilidades')?.controls; let j = index">
              <input class="me-2" [formControlName]="j" placeholder="Habilidad" />
              <div *ngIf="isValidField('personas.' + i + '.habilidades.' + j)" class="text-danger"
                style="font-size: 13px;">
                {{ getFieldError('personas.' + i + '.habilidades.' + j) }}
              </div>
              <button cButton type="button" (click)="eliminarHabilidad(i, j)">Eliminar Habilidad</button>
            </div>
            <button class="mb-2" cButton type="button" (click)="agregarHabilidad(i)">Añadir Habilidad</button>
          </div>

          <button class="mb-2" cButton type="button" (click)="eliminarPersona(i)">Eliminar Persona</button>
        </div>
      </div>


      <button class="mb-4" cButton type="button" (click)="agregarPersona()">Añadir Persona</button>
      <div class="text-center">

        <button cButton type="submit" [disabled]="tareaForm.invalid">Guardar Tarea</button>
      </div>
    </form>
  </c-card-body>


</c-card>